@model EcommerceMVC.Areas.Admin.ViewModels.SupplierVM
@{
    ViewData["Title"] = "Chỉnh sửa Nhà cung cấp";
}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-100 p-4">
        <h2>Chỉnh sửa Nhà cung cấp</h2>
        <form>
            <div class="mb-3">
                <label for="ProductId" class="form-label">Mã Nhà cung cấp</label>
                <input type="text" class="form-control" id="ProductId" disabled value="@Model.SupplierId">
            </div>
            <div class="mb-3">
                <label for="ProductName" class="form-label">Email</label>
                <input type="text" class="form-control" id="ProductName" value="@Model.Email">
            </div
                        <div class="mb-3">
                <label for="ProductName" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="ProductName" value="@Model.Phone">
            </div>
                        <div class="mb-3">
                <label for="ProductName" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="ProductName" value="@Model.Address">
            </div>
            <div class="mb-3">
                <label for="ProductName" class="form-label">Mô tả</label>
                <input type="text" class="form-control" id="ProductName" value="@Model.Description">
            </div>
            <a class="btn btn-light" asp-controller="Supplier" asp-action="Index">Trở về</a>
            <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
        </form>
    </div>
</div>